
body {
   margin: 0;
}

path {
   fill: none;
   stroke-width: 1;
   stroke: black;
   stroke-dasharray: 555;
   stroke-dashoffset: 555;

   animation-duration: 8s;
   animation-name: dash;
   animation-fill-mode: forwards;
   animation-timing-function: linear;
}

@keyframes dash {
   from {
      stroke-dashoffset: 555;
   }
   to {
      stroke-dashoffset: 0;
   }
}